body{
    background-color: white;
}
h1{
    text-align: center;
    color: darkblue;
}
 div{
    background-color: aqua;
    width: 50%;
    height: 50%;
    border: 15px solid blue;
    padding: 50px;
    margin: 20px;
} 